# generated: '2026-07-20'
# method: generated
# source: https://developer.playcanvas.com/user-manual/api/ (faithfully transcribed from the published REST API reference; beta)
openapi: 3.1.0
info:
  title: PlayCanvas REST API
  version: 1.0.0-beta
  description: >-
    The PlayCanvas REST API lets you automate the PlayCanvas platform — manage
    project assets, branches and checkpoints (version control), list scenes,
    export projects, download self-hostable apps, poll asynchronous jobs, and
    publish Gaussian splats to the SuperSplat platform. The API is currently in
    beta; endpoints and responses may change. All access is over HTTPS using a
    Bearer access token generated on your Organization's Account page.
  termsOfService: https://playcanvas.com/terms
  contact:
    name: PlayCanvas Support
    url: https://developer.playcanvas.com/user-manual/api/
  license:
    name: MIT (engine)
    url: https://github.com/playcanvas/engine/blob/main/LICENSE
servers:
  - url: https://playcanvas.com/api
    description: PlayCanvas REST API (beta)
security:
  - bearerAuth: []
tags:
  - name: Apps
    description: Published applications and self-hostable app downloads.
  - name: Assets
    description: Project asset create/read/update/delete.
  - name: Branches
    description: Version-control branches.
  - name: Checkpoints
    description: Branch checkpoints (snapshots).
  - name: Jobs
    description: Asynchronous job polling.
  - name: Projects
    description: Project-level operations.
  - name: Scenes
    description: Project scenes.
  - name: Splats
    description: SuperSplat Gaussian-splat publishing.
  - name: RateLimits
    description: Account rate-limit inspection.
paths:
  /apps/download:
    post:
      tags: [Apps]
      operationId: downloadApp
      summary: Download app
      description: >-
        Start a job to package an app for self-hosting. Returns job details;
        poll GET /jobs/{id} until status is complete or error, then read the
        download URL from the job data. Uses a strict rate limit.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AppDownloadRequest' }
      responses:
        '201':
          description: Download job started.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/app:
    get:
      tags: [Apps]
      operationId: getPrimaryApp
      summary: Get primary app
      description: Get the primary published app of a project.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Primary app metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/App' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/apps:
    get:
      tags: [Apps]
      operationId: getProjectApps
      summary: Get project apps
      description: List all the published apps of a project.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of published apps.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/App' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /apps/{id}:
    get:
      tags: [Apps]
      operationId: getApp
      summary: Get app
      description: Get a published app by id.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the app.
          schema: { type: integer }
      responses:
        '200':
          description: App metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/App' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /assets:
    post:
      tags: [Assets]
      operationId: createAsset
      summary: Create asset
      description: >-
        Create a new asset. Currently supports script, html, css, text, shader
        and json asset types. Expects multipart/form-data. Uses an assets rate
        limit.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [name, projectId, branchId]
              properties:
                name: { type: string, description: The name of the asset. }
                projectId: { type: integer, description: The id of the project. }
                branchId: { type: string, description: The id of the branch. }
                parent: { type: integer, description: Parent asset's id. }
                preload: { type: boolean, description: Preload the asset. }
                file: { type: string, format: binary, description: Data to store as the asset file. }
                pow2: { type: boolean, description: Textures only; resize to power-of-two dimensions. }
      responses:
        '201':
          description: Asset created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /assets/{assetId}:
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Get asset
      description: Get the details of a single asset.
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/BranchIdQueryRequired'
      responses:
        '200':
          description: Asset metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [Assets]
      operationId: updateAsset
      summary: Update asset
      description: >-
        Update an existing asset's file. Supports script, html, css, text,
        shader and json types. Expects multipart/form-data. Uses an assets rate
        limit.
      parameters:
        - $ref: '#/components/parameters/AssetId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary, description: Data to update the asset file with. }
                pow2: { type: boolean, description: Textures only; resize to power-of-two dimensions. }
      responses:
        '200':
          description: Asset updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: Delete asset
      description: >-
        Permanently delete an asset from a branch. Deletion is unrecoverable
        unless a checkpoint was taken.
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/BranchIdQueryRequired'
      responses:
        '200': { description: Asset deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /assets/{assetId}/file/{filename}:
    get:
      tags: [Assets]
      operationId: getAssetFile
      summary: Get asset file
      description: Fetch a specific asset file variant by filename for a branch.
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - name: filename
          in: path
          required: true
          description: The filename of the asset.
          schema: { type: string }
        - $ref: '#/components/parameters/BranchIdQueryRequired'
      responses:
        '200':
          description: Raw file contents.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List assets
      description: List all assets in a project for a specific branch (paginated).
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/BranchIdQueryRequired'
        - name: skip
          in: query
          description: Number of assets to skip. Defaults to 0.
          schema: { type: integer, default: 0 }
        - name: limit
          in: query
          description: Maximum number of assets to list. Defaults to 16. Maximum 100000.
          schema: { type: integer, default: 16, maximum: 100000 }
      responses:
        '200':
          description: Paginated list of assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Asset' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /branches:
    post:
      tags: [Branches]
      operationId: createBranch
      summary: Create branch
      description: Create a new branch from an existing branch and optionally a specific checkpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, projectId, sourceBranchId]
              properties:
                name: { type: string, maxLength: 1000, description: The name of the new branch. }
                projectId: { type: integer, description: The id of the project. }
                sourceBranchId: { type: string, description: The branch to create the new branch from. }
                sourceCheckpointId: { type: string, description: Checkpoint to branch from; defaults to latest of source branch. }
      responses:
        '201':
          description: Branch created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Branch' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/branches:
    get:
      tags: [Branches]
      operationId: listBranches
      summary: List branches
      description: >-
        List all open branches for a project. Cursor pagination: when
        pagination.hasMore is true, pass ?skip={lastBranchId} for the next page.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of open branches.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Branch' }
                  pagination: { $ref: '#/components/schemas/CursorPagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /checkpoints:
    post:
      tags: [Checkpoints]
      operationId: createCheckpoint
      summary: Create checkpoint
      description: >-
        Start a job to create a checkpoint (snapshot) of a branch. Returns job
        details; poll GET /jobs/{id} until complete, then read the checkpoint
        from the job data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [projectId, branchId, description]
              properties:
                projectId: { type: integer, description: The id of the project. }
                branchId: { type: string, description: The id of the branch. }
                description: { type: string, maxLength: 10000, description: A description for the checkpoint. }
      responses:
        '201':
          description: Checkpoint job started.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /checkpoints/{id}:
    get:
      tags: [Checkpoints]
      operationId: getCheckpoint
      summary: Get checkpoint
      description: Get a checkpoint by its id.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the checkpoint.
          schema: { type: string }
      responses:
        '200':
          description: Checkpoint record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Checkpoint' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /branches/{branchId}/checkpoints:
    get:
      tags: [Checkpoints]
      operationId: listCheckpoints
      summary: List checkpoints
      description: >-
        List checkpoints for a branch, newest first. Cursor pagination: when
        pagination.hasMore is true, pass ?skip={lastCheckpointId} for older
        checkpoints.
      parameters:
        - name: branchId
          in: path
          required: true
          description: The id of the branch.
          schema: { type: string }
        - name: limit
          in: query
          description: Maximum number of checkpoints to return. Cannot exceed 50.
          schema: { type: integer, maximum: 50 }
        - name: skip
          in: query
          description: A checkpoint id; only checkpoints created before it are returned.
          schema: { type: string }
      responses:
        '200':
          description: List of checkpoints.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Checkpoint' }
                  pagination: { $ref: '#/components/schemas/CursorPagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /jobs/{id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get job
      description: >-
        Poll an asynchronous job by id until its status is complete or error.
        The data field contents depend on the job type.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the job.
          schema: { type: integer }
      responses:
        '200':
          description: Job record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/export:
    post:
      tags: [Projects]
      operationId: exportProject
      summary: Export project
      description: >-
        Start a job to export the entire project as a ZIP. Returns job details;
        poll GET /jobs/{id} until complete, then read the download URL from the
        job data. Uses a strict rate limit.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                branch_id: { type: string, description: The id of the branch; defaults to the main branch. }
      responses:
        '201':
          description: Export job started.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /projects/{projectId}/scenes:
    get:
      tags: [Scenes]
      operationId: listScenes
      summary: List scenes
      description: List all scenes for a project on a given branch.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: branchId
          in: query
          description: The id of the branch; defaults to the main branch.
          schema: { type: string }
      responses:
        '200':
          description: List of scenes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Scene' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /upload/signed-url:
    post:
      tags: [Splats]
      operationId: getSplatSignedUrl
      summary: Get signed S3 upload URL
      description: >-
        Request a signed AWS S3 URL to upload a splat file. Step 1 of the
        SuperSplat publish flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fileName]
              properties:
                fileName: { type: string, example: scene.ply }
      responses:
        '200':
          description: Signed URL and S3 key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  signedUrl: { type: string }
                  s3Key: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /splats/publish:
    post:
      tags: [Splats]
      operationId: publishSplat
      summary: Publish splat
      description: >-
        Start processing of an uploaded splat to publish it to the SuperSplat
        platform. Step 3 of the publish flow (after uploading to the signed S3
        URL).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [s3Key, title, format]
              properties:
                s3Key: { type: string }
                title: { type: string }
                description: { type: string }
                listed: { type: boolean }
                settings: { type: object, description: SuperSplat Experience Settings (camera, background, animTracks). }
                format: { type: string, enum: [compressed.ply, sog] }
      responses:
        '200':
          description: Published splat data.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Splat' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /ratelimits:
    get:
      tags: [RateLimits]
      operationId: getRateLimits
      summary: Get rate limits
      description: Return the account's current rate-limit configuration.
      responses:
        '200':
          description: Rate-limit configuration.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Access token generated on the Organization Account page, sent as
        `Authorization: Bearer {accessToken}`.
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: The id of the project.
      schema: { type: integer }
    AssetId:
      name: assetId
      in: path
      required: true
      description: The id of the asset.
      schema: { type: integer }
    BranchIdQueryRequired:
      name: branchId
      in: query
      required: true
      description: The id of the branch.
      schema: { type: string }
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Unauthorized.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Forbidden.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Rate limit exceeded.
      headers:
        X-RateLimit-Limit:
          schema: { type: integer }
          description: Requests allowed per minute.
        X-RateLimit-Remaining:
          schema: { type: integer }
          description: Remaining requests this minute.
        X-RateLimit-Reset:
          schema: { type: integer }
          description: UTC epoch seconds when the window resets.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string, description: The error message. }
      required: [error]
    Pagination:
      type: object
      properties:
        limit: { type: integer }
        skip: { type: integer }
        total: { type: integer }
    CursorPagination:
      type: object
      properties:
        hasMore: { type: boolean }
    App:
      type: object
      properties:
        id: { type: integer }
        project_id: { type: integer }
        owner_id: { type: integer }
        name: { type: string }
        description: { type: string }
        version: { type: string }
        release_notes: { type: string }
        thumbnails:
          type: object
          properties:
            s: { type: string }
            m: { type: string }
            l: { type: string }
            xl: { type: string }
        size: { type: integer }
        views: { type: integer }
        completed_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        modified_at: { type: string, format: date-time }
        url: { type: string }
    Asset:
      type: object
      properties:
        id: { type: integer }
        modifiedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        state: { type: string, enum: [ready, processing, error] }
        name: { type: string }
        type: { type: string }
        scope:
          type: object
          properties:
            type: { type: string }
            id: { type: integer }
        source: { type: boolean }
        sourceId: { type: boolean }
        tags: { type: array, items: { type: string } }
        preload: { type: boolean }
        data: { type: object }
        file:
          type: object
          properties:
            hash: { type: string }
            filename: { type: string }
            size: { type: integer }
            url: { type: string }
        parent: { type: integer }
    Branch:
      type: object
      properties:
        id: { type: string }
        projectId: { type: integer }
        name: { type: string }
        createdAt: { type: string, format: date-time }
        closed: { type: boolean }
        permanent: { type: boolean }
        latestCheckpointId: { type: string }
        user: { $ref: '#/components/schemas/User' }
    Checkpoint:
      type: object
      properties:
        id: { type: string }
        user: { $ref: '#/components/schemas/User' }
        createdAt: { type: string, format: date-time }
        description: { type: string }
    Scene:
      type: object
      properties:
        id: { type: integer }
        projectId: { type: integer }
        name: { type: string }
        created: { type: string, format: date-time }
        modified: { type: string, format: date-time }
    Job:
      type: object
      properties:
        id: { type: integer }
        created_at: { type: string, format: date-time }
        modified_at: { type: string, format: date-time }
        status: { type: string, enum: [running, complete, error] }
        messages: { type: array, items: { type: string } }
        data: { type: object, description: Contents depend on the job type. }
    Splat:
      type: object
      properties:
        id: { type: string }
        hash: { type: string }
        title: { type: string }
        description: { type: string }
        format: { type: string, enum: [compressed.ply, sog] }
        version: { type: string }
        release_notes: { type: string }
        thumbnails: { type: integer }
        size: { type: integer }
        views: { type: integer }
        comments: { type: integer }
        starred: { type: integer }
        listed: { type: boolean }
    User:
      type: object
      properties:
        id: { type: integer }
        fullName: { type: string }
        username: { type: string }
